.login-container {
  background-color: var(--background_color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--menu_primary_color);
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  flex-grow: 1;
}

.login-content .MuiTextField-root {
  background-color: var(--menu_secondary_color);
  border-radius: 5px;
}

.login-form button {
  margin-top: 15px;
}

.login-container .MuiAlert-root {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

@media screen  and (min-width: 361px) {
  .login-form {
  flex-grow: 0;
  padding: 40px;
  }

  .login-container .MuiAlert-root {
    bottom: 8%;
    width: auto;
    align-self: center;
  }
}
