.register-container {
  background-color: var(--background_color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.register-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--menu_primary_color);
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  flex-grow: 1;
}

.register-content .MuiTextField-root {
  background-color: var(--menu_secondary_color);
  border-radius: 5px;
}

.register-form button {
  margin-top: 15px;
}

.register-container .MuiAlert-root {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

@media (min-width: 361px) {
  .register-form {
    flex-grow: 0;
    padding: 40px;
  }

  .register-container .MuiAlert-root {
    bottom: 80px;
    width: auto;
    align-self: center;
  }
}
