:root {

  --background_color: rgba(52, 52, 52, 1);

  --menu_primary_color: rgba(196, 196, 196, 1);

  --menu_secondary_color: rgb(255, 255, 255);

  --postit_primary_color: rgba(228, 219, 0, 0.9);

  --postit_secondary_color: rgba(183, 165, 8, 1);
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
