.notfound-container {
  display: flex;
  color: white;
  height: 100vh;
  flex-direction: column;
}

.notfound-content{
  display: flex;
  background-color: var(--background_color);
  text-align: center;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
